<%- include('../partials/header') %>

<form action="/skills" method="post">
    <input type="text" name="skill" value="<%= skill.skill %>">
    <button type="submit">Add Skill</button>
</form>

<%- include('../partials/footer') %>