<%- include('../partials/header') %>

<form action="/skills" method="post">
    <input type="text" name="skill" placeholder="C++, Ruby, etc...">
    <button type="submit">Add Skill</button>
</form>

<%- include('../partials/footer') %>